.btn {
    padding: 20px 38px;
    font-size: 16px;
    line-height: 20px;
    font-weight: var(--bold);
    color: var(--white);
    background-color: var(--orange);
    border-radius: 16px;
    transition: background-color var(--short);
    outline: none;
}

.btn:hover,
.btn:focus {
    background-color: var(--transp-orange);
}

.btn:active {
    background-color: var(--dark-orange);
}

.btn--big {
    min-width: 400px;
    padding: 24px 35px;
    font-size: 24px;
    line-height: 29px;
}

.about_btn {
    margin-left: auto;
    padding: 16px 36px;
    border: 3px solid var(--orange);
    border-radius: 16px;
    color: var(--white);
    background-color: transparent;
}

.about__btn:hover,
.about__btn:focus {
    background-color: var(--orange);
    border: none;
}

.about__btn:active {
    background-color: var(--dark-orange);
    border: none;
}

.btn--consultation {
    color: var(--dark);
    font-weight: var(--regular);
    border: 1px solid var(--dark);
    background-color: transparent;
}

.btn--consultation:hover,
.btn--consultation:focus {
    background-color: var(--dark-gray);
    color: var(--white);
}

.btn--consultation:active {
    background-color: var(--black);
}