.card-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 870px;
    width: 100%;
    min-height: 622px;
    background-color: var(--gray);
    background-image: url(../img/builder.png);
    background-size: cover;
    background-position: center;
    border-radius: 32px;
}

.card-detail__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: var(--white);
    border-radius: 32px;
}

.card-detail__descr {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 40px;
    max-width: 455px;
    font-weight: var(--bold);
    line-height: 32px;
}

.card-detail__text {
    margin: 0;
    line-height: 32px;
}