.advantages {
  margin-bottom: 80px;
}

.advantages__box {
  display: flex;
  padding-top: 80px;
  margin-bottom: 30px;
}

.advantages__picture {
  margin-right: 30px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 40px;
  color: var(--dark);
}

.advantages__descr {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--dark-gray);
}

.advantages__text {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: var(--dark-gray);
}

.card {
  flex-grow: 1;
}

.card {
  display: flex;
  align-items: center;
  background-size: 0;
}

.card::before {
  content: "";
  align-self: flex-start;
  flex-shrink: 0;
  width: calc(80 / (350) * 100%);
  margin-right: 30px;
  padding-top: calc(80 / (350) * 100%);
  background-image: inherit;
  background-repeat: no-repeat;
  background-size: contain;
}
