.courses {
  margin-bottom: 50px;
}

.courses__title {
  margin: 0;
  margin-bottom: 27px;
  padding-top: 70px;
  font-size: 40px;
  font-weight: var(--bold);
  line-height: 40px;
  color: var(--black);
}

.courses__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.courses__item {
  border-radius: 20px;
  text-align: center left;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 0;
  max-width: 540px;
}

.courses__item-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 540px;
  min-height: 480px;
  margin-bottom: 30px;

  border-radius: 0 0 20px 20px;
  background-color: var(--light-blue);
  background-position: center;
  background-size: cover;
  margin-right: 30px;
  max-width: 540px;
}

.courses__item-content:nth-child(2n) {
  margin-right: 0;
}

.course__picture {
  width: 100%;
}

.courses__img {
  position: relative;
}

.courses__hour {
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 82%;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--white);
}

.courses__text {
  margin: 0;
  padding-left: 5px;
  padding-top: 3px;
}

.courses__detail {
  position: relative;
  justify-content: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.courses__name {
  margin: 0;
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: var(--bold);
  line-height: 27px;
  color: var(--black);
}

.courses__descr {
  margin: 0;
  font-size: 16px;
  font-weight: var(--regular);
  line-height: 24px;
  color: var(--dark-gray);
}

.courses__btn {
  position: absolute;
  top: 200px;
  display: inline-block;
  padding: 21px 59px 21px 59px;
  font-size: 16px;
  line-height: 19px;
}
