.hero {
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__left {
  padding-top: 130px;
}

.hero__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  line-height: 60px;
  color: var(--white);
}

.hero__text {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--white);
}

.hero__picture {
  position: relative;
}

.hero__img {
  position: absolute;
  top: 15px;
  right: 0;
  bottom: 0;
  left: 92px;
  margin-bottom: 8px;
}

.hero__img-cube {
  position: absolute;
  top: 44px;
  right: 0;
  bottom: 0;
  left: 1px;
}

.hero__btn {
  margin-bottom: 130px;
  padding: 24px 75.5px;
}
