:root {
  /* Шрифт */
  --regular: 400;
  --bold: 700;
  --dafault-fs: 18px;
  --default-lh: 21px;

  /* Цвет */
  --black: #212133;
  --dark:#2E2B44;
  --white: #ffffff;
  --gray: #85859b;
  --dark-gray: #666666;
  --green: #8fc83a;
  --blue: #3F2AFF;
  --light-blue: #EDF0F9;
  --deep-blue: #160230;
  --orange: #f3b90d;
  --dark-orange:#ab6208;


  /* Размеры*/
  --body--min-width: 320px;
  --container-max-width: 1440px;
  --container-padding: 165px;

  /* Анимация */
  --short: 0.3s;
  --medium: 0.5s;
}
