@media (max-width: 1439px) {
  .container {
    width: 100%;
    margin: 0;
    padding-right: 39px;
    padding-left: 39px;
  }

  .header__logo {
    margin-right: 126px;
  }

  .hero__img {
    top: 20px;
    left: 15px;
  }

  .teachers__item-content {
    margin-bottom: 30px;
    border-radius: 35px 35px 0 0;
  }

  .teachers__cards {
    padding-bottom: 36px;
  }

.teacher__foto, .course__picture {
    width: 100%;
  }

  .courses__hour {
    left: auto;
  }

  .courses__item-content {
    min-height: 556px;
  }
}

@media (max-width: 998px) {
  .hero__title {
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 50px;
  }

  .hero__left {
    margin-bottom: 135px;
  }

  .hero__text {
    margin-bottom: 62px;
  }

  .hero__btn {
    margin-bottom: 0;
    padding: 24px 76px;
  }

  .advantages__box {
    display: flex;
  }

  .courses__item-content {
    min-height: 556px;
  }

  .courses__btn {
    top: 280px;
  }
}

@media (max-width: 930px) {
 .hero__img {
    top: 90px;
  }

  .advantages__picture {
    min-width: 211px;
    min-height: 187px;
  }

}

@media (max-width: 800px) {
  .container {
    max-width: 768px;
  }

  .hero__img {
    top: 116px;
    left: 20px;
  }


  .hero__img-cube {
    top: 118px;
    left: 66px;
    max-width: 130px;
  }

  .advantages {
    margin-bottom: 75px;
  }

  .advantages__box {
    margin-bottom: 0;
    justify-content: top;
  }

  .advantages__descr {
    padding-top: 5px;
  }

  .card {
    flex-direction: column;
  }

  .card::before {
    margin-bottom: 15px;
  }

  .teachers__cards {
    padding-bottom: 40px;
  }

  .courses__title {
    margin-bottom: 22px;
  }

  .courses__btn {
    top: 274px;
    padding-left: 54px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-right: 33px;
    padding-left: 33px;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 133px;
  }

  .header__nav {
    padding-left: 53px;
  }

  .header__logo {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .hero__picture {
    overflow: hidden;
  }

  .hero__left {
    padding-top: 77px;
  }

  .advantages {
    margin-bottom: 56px;
  }

  .advantages__picture {
    min-width: 150px;
    height: 130px;
  }

  .advantages__title {
    margin-bottom: 15px;
  }

  .advantages__descr {
    margin-bottom: 26px;
  }

  .teachers__title {
    margin-bottom: 18px;
  }

  .teachers__cards {
    padding-bottom: 66px;
  }

  .courses__title {
    margin-bottom: 25px;
  }

  .courses__item-content {
    min-height: 653px;
  }

  .courses__detail {
    min-height: 195px;
  }

  .courses__btn {
    top: 372px;
    padding: 20px 48px 20px 48px;
  }

  .socials__item {
    padding-top: 26px;
    padding-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    min-width: 290px;
  }

  .header__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 80px;
  }

  .header__logo {
    margin: 0;
    margin-right: 137px;
  }

  .header__menu-wrap {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    display: none;
    width: 220px;
    height: 420px;
    padding: 60px 20px 20px 30px;
    background-color: var(--white);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transform: translateX(-100%);
  }

  .header__menu {
    display: block;
    overflow-y: auto;
    max-height: 100%;
    margin: 0;
    padding-left: 10px;
    font-size: 24px;
    font-weight: var(--bold);
    line-height: 29px;
  }

  .header__menu-wrap.is-active {
    display: block;
    transform: translateX(0);
    animation-name: menu-open;
    animation-duration: .3s;
  }

  .header__menu-wrap.is-closed {
    animation-name: menu-close;
    animation-duration: .3s;
  }

  .header__menu-item {
    margin-top: 10px;
    margin-bottom: 61px;
    color: var(--black);
  }

  .header__burger.hamburger {
    position: relative;
    z-index: 13;
    display: inline-block;
    width: 30px;
    height: 23px;
    margin: 0;
    padding: 0;
  }

  .hero__left {
    margin-bottom: 50px;
    padding-top: 50px;
  }

  .hero__title {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 30px;
  }

  .hero__text {
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 21px;
  }

  .hero__btn {
    padding: 20px 54px 20px 54px;
    font-size: 16px;
    line-height: 19px;
  }

  .advantages {
    margin-bottom: 40px;
  }

  .advantages__box {
    padding-top: 50px;
  }

  .advantages__picture {
    display: none;
  }

  .advantages__title {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 26px;
  }

  .advantages__descr {
    margin-bottom: 20px;
  }

  .advantages__text {
    min-width: 180px;
  }

  .card {
    flex-direction: row;
  }

  .teachers__title {
    margin-bottom: 22px;
    padding-top: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  .teachers__cards {
    padding-bottom: 46px;
  }

  .courses__title {
    padding-top: 47px;
    font-size: 20px;
    line-height: 20px;
  }

  .courses__btn {
    padding: 20px 56px 20px 56px;
  }

  .social-link {
    display: flex;
    justify-content: center;
  }
}
