@font-face {
  font-family: "Muller";
  src: local('Muller Light'), url("../fonts/MullerLight.woff2") format('woff2'), 
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local('Muller Regular'), url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local('Muller Medium'), url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local('Muller Bold'), url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit; 
}

a {
  color: inherit;
	text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
	max-width: 100%;
}

/* для скрытых элементов */
.hidden {
  display: none;
}

body {
  min-width: 320px;
	font-family: 'Muller', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: #F1F1F1;
}

/* сброс для ul */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* сброс для кнопок */
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* дисплей flex */
.flex {
  display: flex;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding-top: 30px;
  margin-bottom: 70px;
}

.header-link {
  margin-bottom: 30px;
  align-items: center;
}

.header-logo {
  margin-right: 40px;
  width: 261px;
}

.contacts-item-link {
  margin-right: auto;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666;
}

.account {
  padding-left: 28px;
  background-image: url("../img/keyboard_tab.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 25px 25px;
  color: #cc9933;
}

.header-div-nav {
  padding: 14px 45px;
  align-items: center;
  border-radius: 15px;
  background-color: #fff;
  color: #666;
}

.header-nav {
  margin-right: auto;
  justify-content: space-between;
}

.header-list {
  margin: 0;
  padding: 0;
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-btn {
  text-align: center;
  white-space: nowrap; 
}

.want_tour {
  margin-right: 40px;
}

.want_tour, .coll {
  padding: 13px 20px 13px 20px;
  border-radius: 10px;
  border: 1px solid #CC9933;
  background-color: #fff;
  color: #CC9933;
}

/* main-section */
.main-section {
  margin-bottom: 70px;
}

.title-2 {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 43px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #333;
}

.main-box {
  flex-wrap: nowrap;
  background-position: left center;
  background-repeat: no-repeat;
}

.main-box-2card {
  margin-right: 24px;
}

/* разделы спецпредложений */
.specially {
  margin-bottom: 24px;
  padding: 40px 108px 40px 45px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  width: 573px;
}

.specially:last-child {
  margin-bottom: 0;
}

.foto-1{
  background-image:  linear-gradient(to right, rgba(48, 64, 89, 0.84) 0%, 
    rgba(53, 65, 83, 0) 88.67%), url("../img/specially1.png");
}

.foto-2  {
  background-image: linear-gradient(to right, rgba(48, 64, 89, 0.84), 
    rgba(53, 65, 83, 0)), 
    url("../img/specially2.png");
}
  
.specially-3 {
  padding: 212px 229px 40px 45px;
  background-image: url("../img/specially3.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  width: 573px;
}

.title-3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 40px;
  text-align: left;
  color: #FFFFFF;
}

.title-specially {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
}

.price {
  display: block;
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  color: #FFFFFF;
  opacity: 0.8;
  fill: solid;
}

.price-specially {
  font-size: 30px;
}
.more {
  padding-right: 15px;
  background-image: url("../img/Rectangle2.svg");
  background-repeat: no-repeat;
  background-position: right center;
  color: #F0BF5F;
  
}

.section-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* секция about_us */
.about_us {
  margin-bottom: 70px;
}
.about_us-descr {
  margin: 0;
  width: 888px;
}

/* секция services */
.services {
  margin-bottom: 70px;
}

.services-title {
  margin: 0;
}

.services-link {
  padding-right: 15px;
  background-image: url("../img/Rectangle2.svg");
  background-repeat: no-repeat;
  background-position: right center;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
}

.list-services {
  flex-wrap: wrap; 
  width: 1170px;
} 

/* текст внутри карточек colum (текст с помощью паддингов*/
.list-item-services {
  flex-direction: column;
  justify-content: end;
  margin-bottom: 24px;
  padding: 191px 126px 35px 45px;
  width: 573px;

  background-repeat: no-repeat;
  border-radius: 15px;
  background-color: #FFF;
}

.list-item-services:not(:nth-child(2n)) {
  margin-right: 24px; 
}

.list-item-services:nth-last-child(-n+2) {
  margin-bottom: 0; 
}

.img-1 {
  background-image: url('../img/img-1.jpg');
}

.img-2 {
  background-image: url('../img/img-2.jpg');
}

.img-3 {
  background-image: url('../img/img-3.jpg');  
}

.img-4 {
  background-image: url('../img/img-4.jpg');
}

/* секция .benefits */
.benefits {
  margin-bottom: 70px;
}

.list-benefits {
  flex-wrap: wrap; 
  width: 1170px;
} 

.list-item-benefits {
  margin-bottom: 22px;
  padding: 116px 42px 32px 45px;
  width: 276px;
  background-color: #FFF;
  background-position: 45px 40px;

  background-repeat: no-repeat;
  border-radius: 15px;
  text-align: center left;
}

.list-item-benefits:not(:nth-child(4n)) {
  margin-right: 22px; 
}

.list-item-benefits:nth-last-child(-n+4) {
  margin-bottom: 0; 
}

.picture-1 {
  background-image: url('../img/bathtub.jpg');
}

.picture-2 {
  background-image: url('../img/hanger.jpg');
}

.picture-3 {
  background-image: url('../img/heating.jpg');
}

.picture-4 {
  background-image: url('../img/hotel-key.jpg');
}

.picture-5 {
  background-image: url('../img/parking.jpg');
}

.picture-6 {
  background-image: url('../img/reception.jpg');
}

.picture-7 {
  background-image: url('../img/security-box.jpg');
}

.picture-8 {
  background-image: url('../img/swimming-pool.jpg');
}

/* секция .accommodation */
.accommodation {
  margin-bottom: 70px;
}

.list-accommodation {
  flex-wrap: wrap;
  width: 1170px; 
  margin-bottom: 70px;
} 

.list-item-accommodation {
  margin-bottom: 24px;
  width: 374px;
  background-color: #FFF;
  border-radius: 15px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.list-item-accommodation:not(:nth-child(3n)) {
  margin-right: 24px; 
}

.list-item-accommodation:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.article {
  object-fit: cover;
}

.accommodation-article{
  padding: 32px 45px 45px;
}

.accommodation-price-raiting {
  margin-bottom: 16px;
}

.accommodation-from {
  color: #999;
}

.accommodation-price{
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #000;
}

.accommodation-night {
  color: #000;
}

.accommodation-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.accommodation-adress {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.rooms {
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid #CC9933;
  color: #CC9933;
  background-color: #fff;
}

.more-hotels {
  padding-right: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  text-align: center;
  color: #FFFFFF;
  background-image: url("../img/Rectangle-w.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.list-item-accommodation-foto {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 27px;
  background-image: url("../img/siting9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
